Clasificación de Genero por Nombres
Usando machine learning para detectar / predecir el genero en base al nombre
Sklearn
Pandas
Text Extraction

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
df = pd.read_csv('names_dataset.csv')

In [6]:
df.head()

   index       name sex
0      0       Mary   F
1      1       Anna   F
2      2       Emma   F
3      3  Elizabeth   F
4      4     Minnie   F

In [7]:
df.size

285075

In [8]:
#Limpieza de datos
# validamos la consistencia en los nombres de las columnas
df.columns

Index(['index', 'name', 'sex'], dtype='object')

In [10]:
#data types
df.dtypes

index     int64
name     object
sex      object
dtype: object

In [11]:
#validando valores nulos
df.isnull().isnull().sum()

index    0
name     0
sex      0
dtype: int64

In [12]:
#numero de nombres mujeres
df[df.sex == 'F'].size

181800

In [13]:
#numero de nombres hombres
df[df.sex == 'M'].size

103275

In [14]:
df_names = df

In [15]:
# reemplazando todas las F y M con 0 y 1 respectivamente
df_names.sex.replace({'F':0, 'M':1}, inplace=True)

In [16]:
df_names.sex.unique()

array([0, 1], dtype=int64)

In [17]:
df_names.dtypes

index     int64
name     object
sex       int64
dtype: object

In [18]:
Xfeatures = df_names['name']

In [19]:
#extracción de caracteristicas
cv = CountVectorizer()
x = cv.fit_transform(Xfeatures)

In [21]:
cv.get_feature_names_out()

array(['aaban', 'aabha', 'aabid', ..., 'zyyanna', 'zyyon', 'zzyzx'],
      dtype=object)

In [22]:
from sklearn.model_selection import train_test_split

In [25]:
#Caracteristicas
x
#etiquetas
y = df_names.sex

In [ ]:
x_trai, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)